<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About this page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>About this page:</h1>
    <p>This page was made by Aarón Flores whit python, flask, html and css</p>
    <p>Its use is as a to-do list that allows you to delete and add tasks</p>
    <p>if you need more information about this page or my job contact me on <a href="https://www.instagram.com/aaronfloressm?igsh=MTU4NTZjaDcyeng5aA==">INSTAGRAM </a></p>
</body>
</html>