<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Pending Tasks</title>
</head>
<body>
    <a href="/about" class="about">About</a>
    <h1>Pending Tasks</h1>
    <form method="post" action="/add">
        <input type="text" name="add_task" placeholder="Add new task" required>
    </form>
    <table>
        <tr>
            <th>All tasks</th>
        </tr>    
        {% for task in pending %}
    <tr>
        <td>{{ task[0] }}</td>
        <td><a href="/dele/{{ task[0] }}">Delete</a></td>
    </tr>
        {% endfor %}
    </table>
</body>
</html>